@import "tailwindcss";
@import "tailwindcss";

html {
  background-color: #0f0f0f; /* Dark background */
  color: #f5f5f5;           /* Light text */
}

body {
  background-color: #0f0f0f;
  color: #f5f5f5;
}
